.add-driver {
    background-color: beige;
}

.add-service {
    background-color: #d3ecf3;
}

.edit-profile {
    background-color: hsl(34, 53%, 84%);
}

.all-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}