.penguin-bg {
    background: rgb(144,45,143);
    background: linear-gradient(90deg, rgba(144,45,143,1) 0%, rgba(142,39,148,1) 77%, rgba(24,89,194,0.6832109552805496) 100%);
}

.penguin-align {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    border: 2px solid black;
}

.penguin-card {
    
    display: flex;

    border: 3px solid #096460fa;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.penguin-table-head {
    border: 1px solid black;
    
}

.penguin-table-body {
    height: 30vh;
    overflow: auto;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .penguin-table-body {
    scrollbar-width: auto;
    scrollbar-color: #b764ce #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .penguin-table-body::-webkit-scrollbar {
    width: 16px;
  }

  .penguin-table-body::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .penguin-table-body::-webkit-scrollbar-thumb {
    background-color: #b764ce;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.table-head-color {
    background: #c54ee6;
    color: #ffffff;
}

.table-head-color-student {
    background: #763688;
    color: #ffffff;
}

.table-content-color-student {
    background: #43129e;
    color: #ffffff;
}

.very-light-color {
    color: #f7f2f8 !important;
}

.table-service-info {
    padding: 2em;
    background-color: #5e4764;
    color: #fff;
    text-align: center;
}